body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
}

label {
    font-weight: bold;
    color: #220202;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 4px 0px;
}

button:hover {
    background-color: #45a049;
}

form input[type="text"]:focus, form select:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}


#questionDiv{
    border: 1px solid black;
    height: 500px;
    width: 800px;
    
}



#questionDiv {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

h3, h2 {
    text-align: center;
    color: #333;
    font-weight: 600;
    margin: 10px 0;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}

li {
    background-color: #f4f4f9;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}

li:hover {
    background-color: #e0e0e0;
    border-color: #4CAF50;
}


.correct {
    background-color: #4CAF50 !important;
    color: white;
}

.incorrect {
    background-color: #f44336 !important;
    color: white;
}

button {
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:first-child {
    background-color: #4CAF50;
    color: white;
}

button:last-child {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}

@media (max-width: 800px) {
    #questionDiv {
        width: 100%;
        height: auto;
    }

    ol {
        width: 100%;
    }
}




